@keyframes border-pulse {
  0% {
    border-width: 0px;
    border-color: #183C7B;
  }
  50% {
    border-width: 8px;
    border-color: #183C7B;
  }
  100% {
    border-width: 0px;
    border-color: #183C7B;
  }
}

.rightfl_div {
  position: fixed;
  bottom: 13.5vh;
  right: -1.5vh;
  overflow: hidden;
  transition: width 0.5s ease, margin-right 0.5s ease;
}
.show_rightfl {
  width: 85px;
}
.hide_rightfl {
  margin-right: -50px;
  width: 0;
}
.rightfl_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact_btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact_border {
  background-color: #001f5c;
  border-radius: 50%;
  padding: 5px;
  margin-bottom: 20px;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  animation: border-pulse 2s infinite;
  border: 0 solid #001f5c;
  box-sizing: border-box;
}

.giphone2 {
  color: white;
  transform: rotate(285deg);
  font-size: 40px;
}
.show_gp {
  display: block;
}
.hide_gp {
  display: none;
}
.cancel {
  color: white;
  font-size: 40px;
}
.show_cc {
  display: block;
}
.hide_cc {
  display: none;
}


.social_div div{
  margin:20px;
}

.social_media{
  background-color: #008fe5;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  max-width: 100%;
  overflow: hidden;
}
.social_media img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.social_call, .social_call a {
  width: 35px;
  height: 35px;
  background-color: #ff6310;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.giphone1 {
  font-size: 30px;
  color: white;
  transform: rotate(285deg);
}

.scr_div {
  border-radius: 100%;
  width: 33px;
  height: 33px;
  padding: 5px;
  border: 2px solid #183C7B;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px ;
  font-size: 26px;
  color: #183C7B;
}
.scr_div:hover {
  background-color: #183C7B;
  cursor: pointer;
  color: #ffffff;
}

.social_div {
  overflow: hidden;
  transition: height 0.2s ease;
}
.showsc{
  height: 215px;
}
.hidesc{
  height: 0;
}