@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes colorbgChange {
  0% {
    background-color: black;
  }
  20% {
    background-color: #ff6310;
  }
  60% {
    background-color: #ff6310;
  }
  100% {
    background-color: #ff6310;
  }
}
@keyframes colorChange {
  0% {
    color: black;
  }
  20% {
    color: #ff6310;
  }
  60% {
    color: #ff6310;
  }
  100% {
    color: #ff6310;
  }
}

.header {
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: fixed;
  background: white;
  width: 100%;
  box-shadow: 0 0 10px rgba(0,0, 0, 0.1); 
  z-index: 1000;
}
.lồn {
  height: 1000px;
}
.marquee {
  width: 100%;
  background-color: #001f5d;
  overflow: hidden;
  padding-top: 14px;
  padding-bottom: 15px;
}
.marquee-content {
  white-space: nowrap;
  display: inline-block;
  color: rgb(255, 255, 255);
  animation: marquee 30s linear infinite;
  top: 0;
  left: 100%;
  top: 30%;
  transform: translateY(-50%);
}
.marquee-content span {
  margin-right: 170px;
  font-family: "Mulish", sans-serif;
}

.header-bottom {
  display: flex;
  padding-left: 28px;
}

.navigation {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  gap: 45px;
  margin: auto;
  padding: auto;
  align-items: center;
  scrollbar-width: thin;
}
.navigation a {
  text-decoration: none;
  position: relative;
  display: flex;
  align-items: center;
}
#arrow {
  font-size: 14px;
  display: flex;
  position: relative;
  color: black;
  border-left: 100px;
}
#arrow1 {
  font-size: 14px;
  color: #001F5D;
}
.product_content {
  display: flex;
  height: 60px;
  align-items: center;
}
.product {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  color: black;
}
.product_content::before {
  content: '';
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 0.2s ease-in-out;
}
.product_content:hover::before {
  width: 100%;
  animation: colorbgChange 2s forwards;
}
.product_content:hover #arrow {
  animation: colorChange 2s forwards;
  animation-delay: 0.05s;
}
.product_content:hover .product {
  animation: colorChange 2s forwards;
}
.product_content.hovered::before {
  width: 100%;
  animation: none;
}

.nav_product {
  padding-top: 2px;
  padding-left: 6px;
}
.new {
  position: relative;
  font-size: 12px;
  color: red;
  font-weight: 500;
  width: 10px;
  bottom:15px;
  right: 5px;
}
.newproduct_content {
  height: 60px;
  display: flex;
  align-items: center;
}
.newproduct {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  color: black;
}
.newproduct_content::before {
  content: '';
  position: absolute;
  bottom: 15px;
  left: 100;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 0.2s ease-in-out;
}
.newproduct_content:hover::before {
  width: 100%;
  animation: colorbgChange 2s forwards;
}
.newproduct_content:hover #arrow {
  animation: colorChange 2s forwards;
  animation-delay: 0.05s;
}
.newproduct_content:hover .newproduct {
  animation: colorChange 2s forwards;
}

.aonam_content {
  display: flex;
  height: 60px;
  align-items: center;
}
.aonam {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  display: flex;
  position: relative;
  color: black;
}
.aonam_content::before {
  content: '';
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 0.2s ease-in-out;
}
.aonam_content:hover::before {
  width: 100%;
  animation: colorbgChange 2s forwards;
}
.aonam_content:hover #arrow {
  animation: colorChange 2s forwards;
  animation-delay: 0.05s;
}
.aonam_content:hover .aonam {
  animation: colorChange 2s forwards;
}
.aonam_content.hoveredaonam::before {
  width: 100%;
  animation: none;
}

.quannam_content {
  display: flex;
  height: 60px;
  align-items: center;
}
.quannam {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  display: flex;
  position: relative;
  color: black;
}
.quannam_content::before {
  content: '';
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 0.2s ease-in-out;
}
.quannam_content:hover::before {
  width: 100%;
  animation: colorbgChange 2s forwards;
}
.quannam_content:hover #arrow {
  animation: colorChange 2s forwards;
  animation-delay: 0.05s;
}
.quannam_content:hover .quannam {
  animation: colorChange 2s forwards;
}
.quannam_content.hoveredquannam::before {
  width: 100%;
  animation: none;
}

.tech_content {
  height: 60px;
  display: flex;
  align-items: center;
}
.tech {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  color: #001e61;
}
.tech_content::before {
  content: '';
  position: absolute;
  width: 0;
  left: 0;
  bottom: 15px;
  height: 2px;
  background-color: #001e61;
  transition: width 0.2s ease-in-out;
}
.tech_content:hover::before {
  width: 100%;
}
.tech_content.hoveredtech::before {
  width: 100%;
  animation: none;
}

.outlet_content {
  height: 60px;
  display: flex;
  align-items: center;
}
.outlet {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  color: #d0021b;
}
.outlet_content::before {
  content: '';
  position: absolute;
  bottom: 15px;
  left: 100;
  width: 0;
  height: 2px;
  background-color: #d0021b;
  transition: width 0.2s ease-in-out;
}
.outlet_content:hover::before {
  width: 100%;
}

.collect_content {
  height: 60px;
  display: flex;
  align-items: center;
}
.collect {
  font-family: "Mulish", sans-serif;
  font-weight: 500;
  color: black;
}
.collect_content::before {
  content: '';
  position: absolute;
  bottom: 15px;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 0.2s ease-in-out;
}
.collect_content:hover::before {
  width: 100%;
  animation: colorbgChange 2s forwards;
}
.collect_content:hover #arrow {
  animation: colorChange 2s forwards;
  animation-delay: 0.05s;
}
.collect_content:hover .collect {
  animation: colorChange 2s forwards;
}
.collect_content.hoveredcollect::before {
  width: 100%;
  animation: none;
}

.logo {
  width: 10%;
  padding-top: 14px;
}
.logo img {
  max-width: 100%;
  height: auto;
  display: block;
}
.icon {
  width: 10%;
  display: flex;
  gap: 16px;
  padding-right: 20px;
  padding-top: 17px;
}
.fa-solid.fa-magnifying-glass {
  color: #001F5D;
  font-size: 23px;
}
.fa-solid.fa-user {
  color: #001F5D;
  font-size: 23px;
}
.fa-solid.fa-heart {
  color: #001F5D;
  font-size: 23px;
}
.fa-solid.fa-cart-shopping {
  color: #001F5D;
  font-size: 23px;
}

