@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes colorbgChange {
  0% {
    background-color: black;
  }
  20% {
    background-color: #ff6310;
  }
  60% {
    background-color: #ff6310;
  }
  100% {
    background-color: #ff6310;
  }
}
@keyframes colorChange {
  0% {
    color: black;
  }
  20% {
    color: #ff6310;
  }
  60% {
    color: #ff6310;
  }
  100% {
    color: #ff6310;
  }
}

.header {
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: fixed;
  background: white;
  width: 100%;
  box-shadow: 0 0 10px rgba(0,0, 0, 0.1); 
  z-index: 1000;
}
.lồn {
  height: 1000px;
}

.marquee {
  width: 100%;
  background-color: #001f5d;
  overflow: hidden;
  padding-top: 14px;
  padding-bottom: 15px;
}
.marquee-content {
  white-space: nowrap;
  display: inline-block;
  color: rgb(255, 255, 255);
  animation: marquee 30s linear infinite;
  top: 0;
  left: 100%;
  top: 30%;
  transform: translateY(-50%);
}
.marquee-content span {
  margin-right: 170px;
  font-family: "Mulish", sans-serif;
}

.header-bottom {
  display:grid;
  grid-template-columns: 150px 1fr 150px;
  align-items: center;
  gap:15px;
  height: 60px;
  padding-right: 20px;
  padding-left: 20px;
}
.navigation_div {
  width: 100%;
  position: initial;
  justify-content: center;
  display: flex;
  align-items: center;
}
.navigation_container {
  overflow: hidden;
  max-height: 65px;
}
.navigation_content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.navigation_content a {
  text-decoration: none;
  position: relative;
  display: flex;
  padding: 0 20px;
}
#arrow {
  font-size: 14px;
  display: flex;
  position: relative;
  color: black;
  border-left: 100px;
}
#arrow1 {
  font-size: 14px;
  color: #001F5D;
}
.nav_product_container {
  display: flex;
  align-items: center;
}
.nav_product_content {
  display: flex;
  align-items: center;
  height: 60px;
}
.nav_product {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  color: black;
}
.nav_product_content::before {
  content: '';
  position: absolute;
  bottom: 15px;
  left: 100;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 0.2s ease-in-out;
}
.nav_product_container:hover .nav_product_content::before {
  width: 60%;
  animation: colorbgChange 2s forwards;
}
.nav_product_container:hover #arrow {
  animation: colorChange 2s forwards;
  animation-delay: 0.05s;
}
.nav_product_container:hover .nav_product {
  animation: colorChange 2s forwards;
}
.nav_product_container.hovered::before {
  width: 100%;
  animation: none;
}

.nav_arrow {
  padding-top: 2px;
  padding-left: 6px;
}

.nav_new {
  position: relative;
  font-size: 12px;
  color: red;
  font-weight: 500;
  width: 10px;
  bottom:15px;
  right: 5px;
}
.nav_newproduct_content {
  height: 60px;
  display: flex;
  align-items: center;
}
.nav_newproduct {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  color: black;
}
.nav_newproduct_content::before {
  content: '';
  position: absolute;
  bottom: 15px;
  left: 100;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 0.2s ease-in-out;
}
.nav_newproduct_container:hover .nav_newproduct_content::before {
  width: 60%;
  animation: colorbgChange 2s forwards;
}
.nav_newproduct_container:hover #arrow {
  animation: colorChange 2s forwards;
  animation-delay: 0.05s;
}
.nav_newproduct_container:hover .nav_newproduct {
  animation: colorChange 2s forwards;
}
.nav_newproduct_container.hovered::before {
  width: 100%;
  animation: none;
}

.nav_aonam_container {
  display: flex;
  align-items: center;
}
.nav_aonam_content {
  display: flex;
  align-items: center;
  height: 60px;
}
.nav_aonam {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  display: flex;
  position: relative;
  color: black;
}
.nav_aonam_content::before {
  content: '';
  position: absolute;
  bottom: 15px;
  left: 100;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 0.2s ease-in-out;
}
.nav_aonam_container:hover .nav_aonam_content::before {
  width: 57%;
  animation: colorbgChange 2s forwards;
}
.nav_aonam_container:hover #arrow {
  animation: colorChange 2s forwards;
  animation-delay: 0.05s;
}
.nav_aonam_container:hover .nav_aonam {
  animation: colorChange 2s forwards;
}
.nav_aonam_container.hovered::before {
  width: 100%;
  animation: none;
}

.nav_quannam_container {
  display: flex;
  align-items: center;
}
.nav_quannam_content {
  display: flex;
  align-items: center;
  height: 60px;
}
.nav_quannam {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  display: flex;
  position: relative;
  color: black;
}
.nav_quannam_content::before {
  content: '';
  position: absolute;
  bottom: 15px;
  left: 100;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 0.2s ease-in-out;
}
.nav_quannam_container:hover .nav_quannam_content::before {
  width: 63%;
  animation: colorbgChange 2s forwards;
}
.nav_quannam_container:hover #arrow {
  animation: colorChange 2s forwards;
  animation-delay: 0.05s;
}
.nav_quannam_container:hover .nav_quannam {
  animation: colorChange 2s forwards;
}
.nav_quannam_container.hovered::before {
  width: 100%;
  animation: none;
}

.nav_tech_container {
  display: flex;
  align-items: center;
}
.nav_tech_content {
  height: 60px;
  display: flex;
  align-items: center;
}
.nav_tech {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  color: #001e61;
}
.nav_tech_content::before {
  content: '';
  position: absolute;
  width: 0;
  left: 100;
  bottom: 15px;
  height: 2px;
  background-color: #001e61;
  transition: width 0.2s ease-in-out;
}
.nav_tech_container:hover .nav_tech_content::before {
  width: 77%;
}
.nav_tech_container.hoveredtech::before {
  width: 100%;
  animation: none;
}

.nav_outlet_container {
  display: flex;
  align-items: center;
}
.nav_outlet_content {
  height: 60px;
  display: flex;
  align-items: center;
}
.nav_outlet {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  color: #d0021b;
}
.nav_outlet_content::before {
  content: '';
  position: absolute;
  bottom: 15px;
  left: 100;
  width: 0;
  height: 2px;
  background-color: #d0021b;
  transition: width 0.2s ease-in-out;
}
.nav_outlet_container:hover .nav_outlet_content::before {
  width: 64%;
}

.nav_collect_container {
  display: flex;
  align-items: center;
}
.nav_collect_content {
  height: 60px;
  display: flex;
  align-items: center;
}
.nav_collect {
  font-family: "Mulish", sans-serif;
  font-weight: 500;
  color: black;
}
.nav_collect_content::before {
  content: '';
  position: absolute;
  bottom: 15px;
  left: 100;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 0.2s ease-in-out;
}
.nav_collect_container:hover .nav_collect_content::before {
  width: 62%;
  animation: colorbgChange 2s forwards;
}
.nav_collect_container:hover #arrow {
  animation: colorChange 2s forwards;
  animation-delay: 0.05s;
}
.nav_collect_container:hover .nav_collect {
  animation: colorChange 2s forwards;
}
.nav_collect_container.hoveredcollect::before {
  width: 100%;
  animation: none;
}

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
}
.log_img {
  width: 130%;
}
.logo_img img {
  max-width: 100%;
  height: auto;
  display: block;
}
.icon {
  width: 10%;
  display: flex;
  gap: 16px;
}
.search1 {
  color: #001F5D;
  font-size: 23px;
}
.user1 {
  color: #001F5D;
  font-size: 23px;
}
.heart1 {
  color: #001F5D;
  font-size: 23px;
}
.cart1 {
  color: #001F5D;
  font-size: 23px;
}

.menu {
  font-size: 25px;
  padding-top: 3px;
  display: none;
}

@media screen and (max-width:992px){
  .menu {
    display: block;
    cursor: pointer;
  }
  .logo_img img {
    max-width: 130%;
  }
}
