.product_div {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top:110px;
  width: 1230px;
  transform: translateX(-150px);
  box-shadow: 0 0 10px rgba(0,0, 0, 0.2); 
  height: 0;
  overflow: hidden;
  transition: height 0.4s ease, font-size 0.3s ease;
  font-size: 0;
}
.show {
  height: 310px;
  font-size: 16px;
}
.hide {
  height: 0;
  font-size: 0;
}

.aonam_div {
  background-color: white;
  position: absolute;
  top:110px;
  padding-left: 30px;
  width: 190px;
  transform: translateX(-20px);
  box-shadow: 0 0 10px rgba(0,0, 0, 0.2); 
  height: 0;
  overflow: hidden;
  transition: height 0.4s ease, font-size 0.3s ease;
  font-size: 0;
}
.showaonam {
  height: 255px;
  font-size: 16px;
}
.hideaonam {
  height: 0;
  font-size: 0;
}

.quannam_div {
  background-color: white;
  position: absolute;
  top:110px;
  padding-left: 30px;
  width: 190px;
  transform: translateX(-20px);
  box-shadow: 0 0 10px rgba(0,0, 0, 0.2); 
  height: 0;
  overflow: hidden;
  transition: height 0.4s ease, font-size 0.3s ease;
  font-size: 0;
}
.showquannam {
  height: 255px;
  font-size: 16px;
}
.hidequannam {
  height: 0;
  font-size: 0;
}

.collect_div {
  background-color: white;
  position: absolute;
  top:110px;
  padding-left: 30px;
  width: 310px;
  transform: translateX(-20px);
  box-shadow: 0 0 10px rgba(0,0, 0, 0.2); 
  height: 0;
  overflow: hidden;
  transition: height 0.4s ease, font-size 0.3s ease;
  font-size: 0;
}
.showcollect {
  height: 230px;
  font-size: 16px;
}
.hidecollect {
  height: 0;
  font-size: 0;
}
.sj_container .right{
  position: relative;
  left: 78px;
  bottom:4px;
}
.i105_container .right {
  position: relative;
  left: 25px;
  bottom: 4px;
}

.ao {
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.listao {
  padding-top: 15px;
}
.listao span {
  margin-bottom: 10px;
  font-family: "Mulish", sans-serif;
  font-weight: 500;
  color: black;
}
.ao_content {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  color: black;
}

.quan {
  padding-top: 20px;
  padding-bottom: 20px;
}
.listquan {
  padding-top: 15px;
}
.listquan span {
  margin-bottom: 10px;
  font-family: "Mulish", sans-serif;
  font-weight: 500;
  color: black;
}
.quan_content {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  color: black;
}

.gvp {
  padding-bottom: 64px;
  padding-right: 30px;
}
.listgvp {
  padding-top: 15px;
}
.gvp_content {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  color: black;
}
.listgvp span {
  margin-bottom: 10px;
  font-family: "Mulish", sans-serif;
  font-weight: 500;
  color: black;
}
.listcollect {
  padding-top: 15px;
}
.listcollect span {
  margin-bottom: 10px;
  font-family: "Mulish", sans-serif;
  font-weight: 500;
  color: black;
}
.tech_div {
  background-color: white;
  position: absolute;
  top:110px;
  padding-left: 30px;
  width: 220px;
  transform: translateX(-20px);
  box-shadow: 0 0 10px rgba(0,0, 0, 0.2); 
  height: 0;
  transition: height 0.4s ease, font-size 0.3s ease;
  font-size: 0;
}
.right_icon {
  font-size: 13px;
  color: #001f5d;
}
.showtech .right_icon {
  font-size: 13px;
  color: #001f5d;
}
.showtech {
  height: auto;
  font-size: 16px;
}
.hidetech {
  height: 0;
  font-size: 0;
  clip-path: inset(0 0 100% 0);
}
.sj_container,.i105_container {
  display: flex;
}
.sj_container {
  padding-top: 15px;
}
.sj_div {
  background-color: white;
  position: absolute;
  transform: translate(220px,-15px);
  box-shadow: 0 0 10px rgba(0,0, 0, 0.2); 
  width: 0;
  overflow: hidden;
  transition: width 0.4s ease, font-size 0.3s ease;
  font-size: 0;
}
.showsj {
  width: 260px;
  font-size: 16px;
}
.hidesj {
  width: 0;
  font-size: 0;
  height: 45px;
}

.i105_div {
  background-color: white;
  position: absolute;
  transform: translate(220px,-20px);
  box-shadow: 0 0 10px rgba(0,0, 0, 0.2); 
  width: 0;
  overflow: hidden;
  transition: width 0.4s ease, font-size 0.3s ease;
  font-size: 0;
}
.showi105 {
  width: 330px;
  font-size: 16px;
}
.hidei105 {
  width: 0;
  font-size: 0;
  height: 49px;
}

.listsj {
  padding-top: 15px;
  padding-left: 30px;
}
.listsj span {
  margin-bottom: 10px;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  color: #001f5d;
}
.listi105 {
  padding-top: 15px;
  padding-left: 30px;
}
.listi105 span {
  margin-bottom: 10px;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  color: #001f5d;
}
.smartjean, .icon105 {
  margin-bottom: 10px;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  color: #001f5d;
  display: flex;
}
.listao span:hover,.listcollect span:hover,.listquan span:hover, .listgvp span:hover {
  color: #d0021b;
}
.ao_content:hover,.quan_content:hover,.gvp_content:hover {
  color: #d0021b;
}



