.dd_product_div {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top:110px;
  width: 82vw;
  left:9vw;
  box-shadow: 0 0 10px rgba(0,0, 0, 0.2); 
  height: 0;
  overflow: hidden;
  transition: height 0.4s ease, font-size 0.3s ease;
  font-size: 0;
}
.show {
  height: 310px;
  font-size: 16px;
}
.hide {
  height: 0;
  font-size: 0;
}

.dd_aonam_div {
  background-color: white;
  position: absolute;
  top:110px;
  width: 210px;
  left:34.5vw;
  box-shadow: 0 0 10px rgba(0,0, 0, 0.2); 
  height: 0;
  overflow: hidden;
  transition: height 0.4s ease, font-size 0.3s ease;
  font-size: 0;
}
.showaonam {
  height: 260px;
  font-size: 16px;
}
.hideaonam {
  height: 0;
  font-size: 0;
}

.dd_quannam_div {
  background-color: white;
  position: absolute;
  top:110px;
  width: 210px;
  left:42.5vw;
  box-shadow: 0 0 10px rgba(0,0, 0, 0.2); 
  height: 0;
  overflow: hidden;
  transition: height 0.4s ease, font-size 0.3s ease;
  font-size: 0;
}
.showquannam {
  height: 260px;
  font-size: 16px;
}
.hidequannam {
  height: 0;
  font-size: 0;
}

.dd_collect_div {
  background-color: white;
  position: absolute;
  top:110px;
  width: 340px;
  left:1110px;
  box-shadow: 0 0 10px rgba(0,0, 0, 0.2); 
  height: 0;
  overflow: hidden;
  transition: height 0.4s ease, font-size 0.3s ease;
  font-size: 0;
}
.showcollect {
  height: 235px;
  font-size: 16px;
}
.hidecollect {
  height: 0;
  font-size: 0;
}
.sj_container .right{
  position: relative;
  left: 78px;
  bottom:4px;
}
.i105_container .right {
  position: relative;
  left: 25px;
  bottom: 4px;
}

.dd_ao {
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.listao {
  padding-top: 15px;
}
.listao span {
  margin-bottom: 10px;
  font-family: "Mulish", sans-serif;
  font-weight: 500;
  color: black;
}
.dd_ao_content {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  color: black;
}

.dd_quan {
  padding-top: 20px;
  padding-bottom: 20px;
}
.listquan {
  padding-top: 15px;
}
.listquan span {
  margin-bottom: 10px;
  font-family: "Mulish", sans-serif;
  font-weight: 500;
  color: black;
}
.dd_quan_content {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  color: black;
}

.dd_gvp {
  padding-bottom: 64px;
  padding-right: 30px;
}
.listgvp {
  padding-top: 15px;
}
.dd_gvp_content {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  color: black;
}
.listgvp span {
  margin-bottom: 10px;
  font-family: "Mulish", sans-serif;
  font-weight: 500;
  color: black;
}
.listcollect {
  padding-top: 15px;
}
.listcollect span {
  margin-bottom: 10px;
  font-family: "Mulish", sans-serif;
  font-weight: 500;
  color: black;
}
.dd_tech_div {
  background-color: white;
  position: absolute;
  top:110px;
  width: 230px;
  left:51.5vw;
  box-shadow: 0 0 10px rgba(0,0, 0, 0.2); 
  height: 0;
  transition: height 0.4s ease, font-size 0.3s ease;
  font-size: 0;
}
.right_icon {
  font-size: 13px;
  color: #001f5d;
}
.showtech .right_icon {
  font-size: 13px;
  color: #001f5d;
}
.showtech {
  height: auto;
  font-size: 16px;
}
.hidetech {
  height: 0;
  font-size: 0;
  clip-path: inset(0 0 100% 0);
}
.sj_container,.i105_container {
  display: flex;
}
.sj_container {
  padding-top: 15px;
}
.sj_div {
  background-color: white;
  position: absolute;
  transform: translate(229px,-15px);
  box-shadow: 0 0 10px rgba(0,0, 0, 0.2); 
  overflow: hidden;
  transition: width 0.4s ease, height 0.4s ease, font-size 0.5s ease;
  font-size: 0;
}
.showsj {
  width: 250px;
  height: 75px;
  font-size: 16px;
}
.hidesj {
  width: 0;
  height: 40px;
  font-size: 0;
}

.i105_div {
  background-color: white;
  position: absolute;
  transform: translate(229px,-20px);
  box-shadow: 0 0 10px rgba(0,0, 0, 0.2); 
  overflow: hidden;
  transition: width 0.4s ease, height 0.4s ease,font-size 0.5s ease;
  font-size: 0;
}
.showi105 {
  width: 320px;
  height: 75px;
  font-size: 16px;
}
.hidei105 {
  width: 0;
  font-size: 0;
  height: 50px;
}

.listsj {
  padding-top: 15px;
}
.listsj span {
  margin-bottom: 10px;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  color: #001f5d;
}
.listi105 {
  padding-top: 15px;
}
.listi105 span {
  margin-bottom: 10px;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  color: #001f5d;
}
.smartjean, .icon105 {
  margin-bottom: 10px;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  color: #001f5d;
  display: flex;
}
.listao span:hover,.listcollect span:hover,.listquan span:hover, .listgvp span:hover {
  color: #ff6310;
}
.ao_content:hover,.quan_content:hover,.gvp_content:hover {
  color: #ff6310;
}



